/*
* 
* CSS Vars 
*
*/

:root {
  --secondary-bg-color: #1f1f1f;
  --global-border-radius: 15px;
}

/* 
  --sm-width: 600px;
  --md-width: 768px;
  --lg-width: 992px;
  --xl-width: 1200px;
*/

/*
* 
* Global and Main Containers
*
*/

body {
  font-family: "Roboto";
  background-color: black;
  margin: 0px;
}

#main-container {
  max-width: 1200px; /* Set the content in the center of the page to 1200px. */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*
* 
* BG Header (Includes: Search Bar, Background Header, Logo)
*
*/

#title {
  color: white;
  margin: 0px;
}

#bg-header {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 10px;
  box-shadow: inset 0 0 0 2000px rgba(20, 20, 20, 0.3);
  width: 100%;
}

#bg-container {
  max-width: 1200px; /* Set the content in the center of the page to 1200px. */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: var(--global-border-radius);
}

#bg-logo {
  position: absolute;
  bottom: 20px;
  background-size: contain;
  height: 200px;
  max-width: 500px;
}

@media only screen and (max-width: 600px) {
  #bg-logo {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

#search-div {
  margin-bottom: 10px;
}

#appIdInput {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  box-shadow: none;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  background-image: url("../images/grey-search-icon.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 8px center;
  padding-left: 36px;
}

#appIdInput::placeholder {
  color: #d8d8d8;
}

#appIdInput:focus,
#appIdInput:hover {
  background-color: black;
  color: white;
  border-color: black;
  background-image: url("../images/white-search-icon.png");
}

/*
* 
* asset-btns Div
*
*/

#assets-container {
  background-color: var(--secondary-bg-color);
  border-radius: var(--global-border-radius);
}

/*
* 
* asset-btns Div
*
*/

.asset-btns {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.asset-btns:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.asset-btns:active {
  position: relative;
  top: 1px;
}

/*
* 
* Pagination Btns
*
*/

.pagination-wrapper {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

.pagination-btn {
  display: block; /* let links fill the list item */
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid #dcdcdc;
  color: black;
  margin: 0 4px;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  color: #666666;
}

.pagination-btn:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.pagination-btn:active {
  position: relative;
  top: 1px;
}

/*
* 
* Grid
*
*/

#assets-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  gap: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #assets-grid {
    grid-template-columns: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #assets-grid {
    grid-template-columns: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #assets-grid {
    grid-template-columns: auto auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #assets-grid {
    grid-template-columns: auto auto auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #assets-grid {
    grid-template-columns: auto auto auto auto;
  }
}

/*
* 
* Grid Items
*
*/

.asset-card {
  cursor: pointer;
}

.name-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.name-dimensions p {
  margin: 0px;
}
