/*
* 
* CSS Vars 
*
*/

:root {
  --primary-bg-color: black;
  --secondary-bg-color: #1f1f1f;
  --global-border-radius: 5px;
  --btn-text-color: #0f0f0f;
  --primary-text-color: #fefefe;
  --secondary-text-color: #adadad;
  --gray-border: #292929;
}

/* 
  --sm-width: 600px;
  --md-width: 768px;
  --lg-width: 992px;
  --xl-width: 1200px;
*/

/*
* 
* Global and Main Containers
*
*/

body {
  font-family: "Roboto";
  background-color: var(--primary-bg-color);
  margin: 0px;
}

#main-container {
  max-width: 1200px; /* Set the content in the center of the page to 1200px. */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/*
* 
* BG Header (Includes: Search Bar, Background Header, Logo)
*
*/

#title {
  color: white;
  margin: 0px;
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

#search-results {
  display: none;
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
}

#search-results.visible {
  padding-bottom: 10px;
  border-top: 1px solid var(--gray-border);
  display: block;
  max-height: 300px;
  overflow-y: auto;
  background-color: black;
  color: var(--secondary-text-color);
  border-bottom-left-radius: var(--global-border-radius);
  border-bottom-right-radius: var(--global-border-radius);
}

.search-result-item {
  padding: 8px 12px;
  cursor: pointer;
  width: 200px;
  overflow-wrap: anywhere;
  box-sizing: border-box;
}

.search-result-item:hover {
  background-color: rgba(200, 200, 200, 0.2);
  width: 100%;
  overflow: hidden;
}

#bg-header {
  /* Holds the img background url */
  height: 600px;
  width: 100%;
  position: relative;
  padding-top: 10px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bg-container {
  max-width: 1200px; /* Set the content in the center of the page to 1200px. */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  border-radius: var(--global-border-radius);
  padding: 10px 50px;
}

#bg-logo {
  position: absolute;
  bottom: 40px;
  background-size: contain;
  max-width: 500px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #bg-logo {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

#search-div {
  margin-bottom: 10px;
}

#searchInput {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  background-image: url("../images/grey-search-icon.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 8px center;
  padding-left: 36px;
  width: 200px;
}

#searchInput.active {
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: black;
  color: white;
  background-image: url("../images/white-search-icon.png");
}

#searchInput::placeholder {
  color: #d8d8d8;
}

#searchInput:hover {
  background-color: black;
  color: white;
  background-image: url("../images/white-search-icon.png");
}

/*
* 
* asset-btns Div
*
*/

#assets-container {
  border-radius: var(--global-border-radius);
  width: 100%;
}

/*
* 
* asset-btns Div
*
*/

#assets-btns-wrapper {
  text-align: center;
}

.asset-btns {
  border-radius: 6px;
  cursor: pointer;
  color: var(btn-text-color);
  font-weight: bold;
  background-color: white;
  border: none;
  padding: 6px 24px;
}

.asset-btns:hover {
  cursor: pointer;
  background-color: lightgray;
}

.asset-btns.active {
  background-color: #b0b0b0;
}

/*
* 
* Pagination Btns
*
*/

.pagination-wrapper {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

.pagination-btn {
  display: block; /* let links fill the list item */
  padding: 8px 12px;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 6px;
  background-color: white;
  color: var(btn-text-color);
}

.pagination-btn:hover {
  cursor: pointer;
  background-color: lightgray;
}

.pagination-btn.active {
  background-color: #b0b0b0;
}

/*
* 
* Grid
*
*/

#assets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px); /* fixed width per item */
  justify-content: center;
  justify-items: center;
  row-gap: 50px;
}

/*
* 
* Grid Items
*
*/

.name-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.name-dimensions a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.name-dimensions p {
  margin: 0px;
  color: var(--secondary-text-color);
}

.asset-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.asset-card img {
  cursor: pointer;
  border-radius: var(--global-border-radius);
  width: 100%; /* Stops img from exceeding grid item width */
}
