body {
  font-family: 'Roboto';
}

#main-container {
  max-width: 1200px; /* Set the content in the center of the page to 1200px. */
  margin-left: auto;
  margin-right: auto;
}

#assets-container {
  background-color: lightskyblue;
}

#assets-grid {
  background-color: lightgray; /* Temp */
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  gap: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #assets-grid {
    grid-template-columns: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #assets-grid {
    grid-template-columns: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #assets-grid {
    grid-template-columns: auto auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #assets-grid {
    grid-template-columns: auto auto auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #assets-grid {
    grid-template-columns: auto auto auto auto;
  }
}

.name-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.name-dimensions p {
  margin: 0px;
}