#assets-container {
  background-color: green;
}

#assets-grid {
  background-color: lightgray; /* Temp */
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #assets-grid {
    grid-template-columns: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #assets-grid {
    grid-template-columns: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #assets-grid {
    grid-template-columns: auto auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #assets-grid {
    grid-template-columns: auto auto auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #assets-grid {
    grid-template-columns: auto auto auto auto;
  }
}
